<div class="container-fluid">
  <% (0..3).each do |r| %>
      <div class="row buffer">
        <% (0..3).each do |c| %>
            <div class="col-xs-2 <%= c != 0 ? 'col-half-offset' : ''%>" >
              <div>
                <img class="pic" id="p<%=r*4 +c%>" src=""  style="display:none;width: 100%"/>
              </div>
            </div>
        <% end %>
      </div>
  <% end %>
</div>

<style type="text/css">

  .col-xs-2 {
    width: 25%;
    padding: 0px !important;
  }

</style>


<script type="text/javascript">

  //CHANGE HERE
  var FADING_TIME = 1000;
  var TRANSITION_TIME = 10000;
  var BACKGROUND_COLOR = "black";


  var app = {
    MAX: 16,
    picture: [],
    queue: [],


    init: function() {
      $("body").css("background-color", BACKGROUND_COLOR);
      $.get("/pictures", function(data) {
        if (data.length > 1 && data.length <= app.MAX) {
          item = data.pop();
          //app.queue.push(item);
        }
        $(".pic").each(function(index) {
          if(data.length > index) {
            $(this).attr("src", data[index]).show();

          }
        });
        app.queue = app.queue.concat(_.difference(data, app.arrayWithPicsSrc()));
        console.log(app.queue);
      });
    },
    arrayWithPicsSrc: function() {
      return   $.map(app.arrayWithPics(), function(e){ return $(e).attr('src') });
    },
    arrayWithPics: function() {
      return   $(".pic[src!='']");
    },
    arrayWithoutPics: function() {
      return $(".pic[src='']");
    },
    replaceRandomElem: function(newSrc, data) {
      var picsElems = app.arrayWithPics();
      if (picsElems.length == app.MAX || picsElems.length + 1 == data.length && data.length <= app.MAX) {
        var picElemToSwap = picsElems[Math.floor(Math.random() * picsElems.length)];
      } else {
        var withoutPics = app.arrayWithoutPics();
        var picElemToSwap = withoutPics[Math.floor(Math.random() * withoutPics.length)];
      }

      $(picElemToSwap).fadeOut({
            duration: FADING_TIME, // <---- CHANGE TRANSITION OF FADING ok
            queue: true,
            complete: function() {
              $(this).attr("src", newSrc).fadeIn({
                duration: FADING_TIME,  // <---- CHANGE TRANSITION OF FADING
                queue: true
              });
            }
      });
      return $(picElemToSwap).attr('src');
    },
    nextSeq: function() {
      $.get("/pictures", function(data) {
        var displayedPics =  app.arrayWithPicsSrc();
        var diff = _.difference(data, displayedPics, app.queue);
        if (diff.length > 0) {
          app.queue = app.queue.concat(diff);
        }

//        if (displayedPics.length + 1 == data.length && data.length <= app.MAX) {
//          item = data.pop();
//          app.queue.push(item);
//        }
        if (app.queue.length == 0 ) { //no new pictures.. just swap a random pix

          var missingPics = _.difference(data, displayedPics);
          console.log("missing");
          console.log(missingPics);
          var picToSwap = missingPics[Math.floor(Math.random() * missingPics.length)];
          app.replaceRandomElem(picToSwap, data);

        } else { //has items in the queue.. find an elemnt and swap with this..
          console.log("queue");
          console.log(app.queue);

          var item = app.queue.shift();
          var swappedOut = app.replaceRandomElem(item, data);
          console.log("swapped Out "  + swappedOut )


          console.log(app.queue);
        }
      });
    }



  }
  $(document).keydown(function (e){
      if ((e.keyCode || e.which) == 39)   // right arrow
      {
        app.nextSeq();
      }
  });
  app.init();
  setInterval(app.nextSeq, TRANSITION_TIME); // <---- CHANGE TIMING FOR TRANSITION (in miliseconds) 10000 = 10secs
   
  


</script>