<div class="print" id="print">

</div>
<style type="text/css">

  body {
    background: #fff;  /* BACKGROUND COLOR */
  }
  .print {
    display:block !important;
    width: auto; left:0; top:0;
  }

  @media print {
    @page
    {
      size: portrait;   /* auto is the initial value */
      margin: 0mm;  /* this affects the margin in the printer settings */
    }
    * { margin: 0 !important; padding: 0 !important; }
    html, body {
      /*changing width to 100% causes huge overflow and wrap*/
      height:100%;
      overflow: hidden;
      background: #FFF;
      font-size: 9.5pt;
    }

    .print {
      display:block !important;
      width: auto; left:0; top:0;
    }
    img { width:100%; }
  }

</style>
<script type="text/javascript">


  var current_pics = {};
  function sleepFor( sleepDuration ){
    var now = new Date().getTime();
    while(new Date().getTime() < now + sleepDuration){ /* do nothing */ }
  }
  function attachAndPrint(file) {
    $(".print").empty();
    $('<img class="pic" src="'+ file  + '">').appendTo(".print");
    var el = document.getElementById("print");
    var top = el.offsetTop;
    $(window).trigger('resize');
    setTimeout(window.print, 100);
  }

  function getPhotos() {
    $.get("/pictures", function(data) {
      var diff = _.difference(data, current_pics);
      current_pics = data;
      //console.log(getDisplayedPictures());
      console.log(diff);
      var time = 0;
      $.each(diff, function(_, d ) {
        time = time + 1000;
        setTimeout(function() {attachAndPrint(d)},  time );

      });
      setTimeout(getPhotos, 5000); //5 seconds

    });
  }
//
//  $(".print").bind("DOMSubtreeModified", function() {
//    console.log($(this).html());
//    window.print();
//  });
  $.get("/pictures", function(data) {
    current_pics = data;
  });
  setTimeout(getPhotos, 5000);





</script>
