<div class="print">

</div>
<div class="fadeMe" style="display:none">
  <div class="popup">
    <img src="spinner.gif"/>
    <div class="printingText">
    </div>
  </div>
</div>
<div class="noPrint">

  <div class="headSpace">&nbsp;</div>
  <div class="container-fluid">
    <div class="row ">
      <div class="col-xs-1">
        <div class="displayOnMove">
          <div class="next-nav owl-nav">
            <img src="/left.png">


          </div>
        </div>
      </div>
      <div class="col-xs-10">

        <div class="owl-carousel owl-theme">
          <%@files.each do |f| %>
              <div class="picture-frame">
                <img class="pic" src="<%=f%>">
              </div>
          <% end %>
        </div>


      </div>
      <div class="col-xs-1">
        <div class="displayOnMove">
          <div class="prev-nav owl-nav">
            <img src="/right.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style type="text/css">

  body {
    background: #000;  /* BACKGROUND COLOR */
    /*background: url('4742_q1.jpg') fixed repeat; */  /*BACKGROUND */
  }
  .headSpace {
    height: 200px;   /* TOP SPACE */
  }
  .picture-frame {
    border: 20px solid #fff;  /* FRAME THICKNESS COLOR */
    margin: 0 10%;
  }
  .owl-nav {
    color: #FFF;
    background: #000;
    display: inline-block;
    cursor: pointer;
    font-size: 152px;
    line-height: 400px;
    /*margin-top: 60px;*/
    /*border-radius: 3px;*/
    /*margin: 5px;*/
    /*padding: 4px 7px;*/
  }
  .owl-nav {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
  }

  .owl-nav img {
    width: 100%;
  }
  .print {
    display:none;
  }
  div.fadeMe {
    opacity:0.8;
    background-color:#000;
    width:100%;
    height:100%;
    z-index:10;
    top:0;
    left:0;
    position:fixed;
  }
  div.popup {
    position: fixed;
    left: 50%; top: 50%;
    opacity:1;
    width: 50%; height: 50%;
    /*background: white;
    border-radius: 3px;
    padding: 10px;
    z-index: 11;
    height: 7%;
    width: 20%
    */
  }
  .printingText {
    position: fixed;
    left: 50%; top: 55%;
    opacity:1;
    width: 50%; height: 50%;
    color: #fff;
  }
  @media print {
    @page
    {
      size: portrait;   /* auto is the initial value */
      margin: 0mm;  /* this affects the margin in the printer settings */
    }
    * { margin: 0 !important; padding: 0 !important; }
    html, body {
      /*changing width to 100% causes huge overflow and wrap*/
      height:100%;
      overflow: hidden;
      background: #FFF;
      font-size: 9.5pt;
    }
    .noPrint {
      display:none;
    }
    .fadeMe {
      display:none;
    }
    .print {
      display:block !important;
      width: auto; left:0; top:0; }
    img { width:100%; }
  }

</style>
<script type="text/javascript">


  var TIME_BEFORE_ARROW_FADE_OUT = 5; //5 seconds
  var TIME_TO_DISPLAY_SPINNER = 10000; // 10000 miliseconds (10 seconds)


  ////////// PRINT ////////////
  function fadeOut() {
    $(".fadeMe").hide();
  }
  $("body").on("dblclick", ".pic", function() {
    console.log('test"');
    $(".print").empty();
    $(this).clone().appendTo(".print");
    window.print();
    $(".fadeMe").show();
    window.setTimeout(fadeOut, TIME_TO_DISPLAY_SPINNER);
  });


  function change(event) {
    arrowHeight(event);
    showLeftRight(event);
  }
  function arrowHeight(event) {

    $(".owl-nav").css('line-height', $(".picture-frame").height()  + "px");
  }
  function showLeftRight(event) {
    var totalPages = $(".owl-item").length - 1;
    $(".prev-nav").show();
    $(".next-nav").show();
    console.log(totalPages);
    console.log(event.item.index);
    if (event.item.index == 0) {
      $(".prev-nav").hide();
    } else if(event.item.index == totalPages - 1) {
      $(".next-nav").hide();
    }
  }



  var owl = $(".owl-carousel").owlCarousel({
    center: true,
    nav: false,
    dots: false,
    rtl: true,
//      autoplay: true,
//      autoplayHoverPause: true,
//      autoplayTimeout: AUTOPLAY_TIME_IN_SECONDS,
    mouseDrag: false,
    touchDrag: false,
    pullDrag: false,
    freeFrag: false,
    onResized : change,
    onChanged: change,
    onInitialized: change

  });

  $('.owl-carousel').owlCarousel('update');
  owl.trigger('next.owl.carousel');
  $('.owl-carousel').owlCarousel('update');
  $('.next-nav').click(function() {
    owl.trigger('next.owl.carousel');
  });

  $('.prev-nav').click(function() {
    owl.trigger('prev.owl.carousel');
  });
  $(".displayOnMove").hide();
  window.setTimeout(arrowHeight, 1000);
  function getDisplayedPictures() {
    return $.map($(".picture-frame img"), function(a) {return $(a).attr('src')});
  }
  function getPhotos() {
    $.get("/pictures", function(data) {
      var diff = _.difference(data, getDisplayedPictures());
      //console.log(getDisplayedPictures());
      console.log(diff);
      $.each(diff, function(_, d ) {
        var html = '<div class="picture-frame"><img class="pic" src="'+ d  + '"> </div>';
        $('.owl-carousel').owlCarousel('add', html).owlCarousel('update');
        $('.owl-carousel').trigger('to.owl.carousel', [$(".owl-item").length - 2]);

      });
      //owl.trigger('next.owl.carousel');

    });
  }

  setInterval(getPhotos, 5000); //5 seconds





  function timerIncrement() {
    idleTime = idleTime + 1;
    if (idleTime > TIME_BEFORE_ARROW_FADE_OUT) { // 5 seconds
      $(".displayOnMove").fadeOut();
    }
  }


  var idleTime = 0;

  var idleInterval = setInterval(timerIncrement, 1000); // 1 seconds
  //Zero the idle timer on mouse movement.
  $(this).mousemove(function (e) {
    idleTime = 0;
    $(".displayOnMove").fadeIn();
  });
  $(this).keypress(function (e) {
    idleTime = 0;
    $(".displayOnMove").fadeIn();
  });

  $(document).bind("contextmenu", function(e) {
    e.preventDefault();
  });
</script>
