<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<%= form_tag({action: :upload}, multipart: true) do %>
  <fieldset class="form-group">
    <label for="exampleInputFile">File input</label>
    <input type="file" class="form-control-file" id="exampleInputFile" name="image">
  </fieldset>
  <div class="form-group row">
    <input class="btn btn-primary" type="submit" name="commit" value="Upload">
  </div>
<% end %>
